<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div id="title">Enter Discord Token:</div>
    <form action="/" method="POST" role="form">
        <input type="text" name="token">
        <button type="submit" name="submit">Submit</button>
    </form>
    <div id="response"><br />Success!</div>
</div>